dask>=2.8
dask[array]>=2.8
fiona>=1.9.0
geopandas>=0.8
google-auth-oauthlib==0.5.3
NREL-reV>=0.6.0
NREL-rex>=0.2.69
psycopg2-binary>=2.8
pyproj>=3.0.1
pywavelets>=1.0
rasterio>=1.0
scikit-image>=0.18
scikit-learn>=0.22
shapely<2.0.0
toolz>=0.7.3
xarray>=0.12
