dask>=2.8
dask[array]>=2.8
geopandas>=0.8
NREL-reV>=0.5.1
NREL-rex>=0.2.57
psycopg2-binary>=2.8
pyproj>=3.0.1
pywavelets>=1.0
rasterio>=1.0
scikit-image>=0.18
scikit-learn>=0.22
shapely>=1.6
toolz>=0.7.3
xarray>=0.12
